@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Work Sans", serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

img,
video {
  object-fit: contain;
}

/* Navbar Start */
.navbar {
  background-color: #F5F5F5;
  position: sticky !important;
  top: 0;
  z-index: 1000;

  .container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
  }

  .navbar-brand {
    width: 150px;

    img {
      width: 100%;
    }
  }
}

main {
  .Opportunities {
    background-color: #F5F5F5;

    h1 {
      font-size: 35px;
      font-weight: 600;
    }

    select {
      border-radius: 20px;
      border: 1px solid rgba(128, 128, 128, 0.169);
      background-color: #fff;
    }

    .job-listing {
      background-color: #fff;
      border: 1px solid #E3E3E3;
      margin: 10px 0;
      border-radius: 20px;
    }

    .apply-btn {
      background-color: black;
      color: white;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .apply-btn:hover {
      background-color: #444;
    }

    .py-3.px-3 {
      padding: 10px 15px;
    }

    .bg-white {
      background-color: white;
    }

    .rounded-pill {
      border-radius: 50px;
    }
  }

  .benifits {
    background-color: #BBE2CE;

    h2 {
      font-size: 35px;
      font-weight: 600;
    }

    img {
      width: 80px;
      padding-right: 10px;
    }
  }
  
  .quickLinks {
    background-color: #F5F5F5;

    .job-listing {
      background-color: #fff;
      border: 1px solid #E3E3E3;
      margin: 10px 0;
      border-radius: 20px;
    }
  }
}

footer {
  background-color: #F5F5F5;

  .footerNavbar {

    .container {
      border-bottom: 1px solid rgba(0, 0, 0, 0.158);
    }

    img {
      width: 200px;
    }
  }

  .footerLinks {
    .container {
      border-bottom: 2px solid rgba(0, 0, 0, 0.078);
    }

    a {
      color: gray;
      text-decoration: none;
    }
  }

  .Partnership {
    .container {
      border-bottom: 2px solid rgba(0, 0, 0, 0.078);
    }
  }

  .socialMedia {
    .container {
      border-bottom: 2px solid rgba(0, 0, 0, 0.078);
    }
  }

  .copyright {
    color: gray;

    a {
      color: gray;
      text-decoration: none;
    }
  }
}

@media (min-width : 768px) {
  main {
    .Opportunities {
      h1 {
        font-size: 55px;
        font-weight: 600;
      }
    }

    .benifits {

      h2 {
        font-size: 45px;
      }

      p {
        width: 60%;
      }
    }
  }
}

@media (min-width : 992px) {
  main {
    .Opportunities {
      h1 {
        font-size: 95px;
        font-weight: 600;
      }
    }
  }
}