@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Work Sans", serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

img,
video {
  object-fit: contain;
}

/* Navbar Start */
.navbar {
  background-color: #F5F5F5;
  position: sticky !important;
  top: 0;
  z-index: 1000;

  .container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
  }

  .navbar-brand {
    width: 150px;

    img {
      width: 100%;
    }
  }
}

.herosection {
  background: radial-gradient(76.17% 76.17% at 4.48% 30.08%, #373737 0, #000 100%);

  .container {

    color: white;

    h2 {
      font-size: 35px;
      font-weight: 700;
    }

    h3 {
      font-size: 25px;
    }

    .img_1 {
      width: 60px;
    }

    .img_2 {
      width: 100%;
    }
  }
}

.second {
  h2 {
    color: #B94FCB;
    font-size: 30px;
    font-weight: 600;
  }

  h3 {
    color: #B94FCB;
    font-size: 25px;
  }
}

.third {
  h2 {
    color: #008E50;
    font-size: 30px;
    font-weight: 600;
  }

  h3 {
    color: #008E50;
    font-size: 25px;
  }
}

.fourth {
  h2 {
    color: #DE9A11;
    font-size: 30px;
    font-weight: 600;
  }

  h3 {
    color: #DE9A11;
    font-size: 25px;
  }
}

footer {
  background-color: #F5F5F5;

  .footerNavbar {

    .container {
      border-bottom: 1px solid rgba(0, 0, 0, 0.158);
    }

    img {
      width: 200px;
    }
  }

  .footerLinks {
    .container {
      border-bottom: 2px solid rgba(0, 0, 0, 0.078);
    }

    a {
      color: gray;
      text-decoration: none;
    }
  }

  .Partnership {
    .container {
      border-bottom: 2px solid rgba(0, 0, 0, 0.078);
    }
  }

  .socialMedia {
    .container {
      border-bottom: 2px solid rgba(0, 0, 0, 0.078);
    }
  }

  .copyright {
    color: gray;

    a {
      color: gray;
      text-decoration: none;
    }
  }
}

@media (min-width : 768px) {
  .herosection {
    padding-top: 25px;

    .container {

      h2 {
        font-size: 40px;
        font-weight: 600;
      }

      h3 {
        font-size: 30px;
      }

      .img_1 {
        width: 70px;
      }

      .img_2 {
        position: relative;
        bottom: -36px;
      }
    }
  }

  .second {
    h2 {
      font-size: 40px;
    }

    .p1 {
      width: 70%;
    }

    h3 {
      font-size: 30px;
    }
  }

  .third {
    h2 {
      font-size: 40px;
    }

    h3 {
      font-size: 30px;
    }
  }

  .fourth {
    h2 {
      font-size: 40px;
    }
  }
}

@media (min-width : 992px) {
  .herosection {
    padding-top: 50px;

    .container {

      h2 {
        font-size: 50px;
        font-weight: 600;
      }

      h3 {
        font-size: 40px;
      }

      .img_1 {
        width: 70px;
      }

      .img_2 {
        bottom: 0px;
      }
    }
  }

  .second {
    h2 {
      font-size: 50px;
    }

    p {
      font-size: 22px;
    }

    h3 {
      font-size: 35px;
    }
  }

  .third {
    h2 {
      font-size: 50px;
    }

    h3 {
      font-size: 35px;
    }
  }

  .fourth {
    h2 {
      font-size: 50px;
    }
  }
}