@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Work Sans", serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

img,
video {
  object-fit: cover;
}

/* Navbar Start */
.navbar {
  background-color: #F5F5F5;
  position: sticky !important;
  top: 0;
  z-index: 1000;

  .container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
  }

  .navbar-brand {
    width: 150px;

    img {
      width: 100%;
    }
  }
}

main {

  .section1 {
    /* border-radius: 15px;
    overflow: hidden; */
  }

  .card-1 {
    border: 0.5px solid gray;
    border-radius: 15px;
    overflow: hidden;
  }

  .img_1 {
    width: 100%;
    height: 100%;
  }

  span {
    color: #E7685A;
    font-weight: 600;
  }

  .section2 {
    .card-2 {
      border: 0.5px solid gray;
      border-radius: 15px;
      overflow: hidden;

      div {
        height: 250px;
      }
    }
  }
}

.section3 {

  .section32 {
    background-color: #C15A3F;
  }

  .section322 {
    div {
      background-color: #0A52A0;
    }
  }
  .section323 {
    div {
      background-color: #62492A;
    }
  }
}

.section4 {
  background-image: url(../images/illustration/banner.webp);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  border-radius: 30px;
}

.section5 {
  .section5_cards {
    border: 0.5px solid gray;
    height: 250px;
    margin-bottom: 30px;

    h4 {
      font-size: 20px;
    }

    p {
      font-size: 15px;
      color: gray;
    }
  }
}

footer {
  background-color: #F5F5F5;

  .footerNavbar {

    .container {
      border-bottom: 1px solid rgba(0, 0, 0, 0.158);
    }

    img {
      width: 200px;
    }
  }

  .footerLinks {
    .container {
      border-bottom: 2px solid rgba(0, 0, 0, 0.078);
    }

    a {
      color: gray;
      text-decoration: none;
    }
  }

  .Partnership {
    .container {
      border-bottom: 2px solid rgba(0, 0, 0, 0.078);
    }
  }

  .socialMedia {
    .container {
      border-bottom: 2px solid rgba(0, 0, 0, 0.078);
    }
  }

  .copyright {
    color: gray;

    a {
      color: gray;
      text-decoration: none;
    }
  }
}

.Samachar {
  font-size: 25px;
}

@media (min-width: 768px ) {
  .Samachar {
    font-size: 50px;
  }  
}

@media (min-width: 992px ) {
  .Samachar {
    font-size: 90px;
  }  
}