@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Work Sans", serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

img,
video {
  object-fit: contain;
}

/* Navbar Start */
.navbar {
  background-color: #F5F5F5;
  position: sticky !important;
  top: 0;
  z-index: 1000;

  .container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
  }

  .navbar-brand {
    width: 150px;

    img {
      width: 100%;
    }
  }
}

footer {
  background-color: #F5F5F5;

  .footerNavbar {

    .container {
      border-bottom: 1px solid rgba(0, 0, 0, 0.158);
    }

    img {
      width: 200px;
    }
  }

  .footerLinks {
    .container {
      border-bottom: 2px solid rgba(0, 0, 0, 0.078);
    }

    a {
      color: gray;
      text-decoration: none;
    }
  }

  .Partnership {
    .container {
      border-bottom: 2px solid rgba(0, 0, 0, 0.078);
    }
  }

  .socialMedia {
    .container {
      border-bottom: 2px solid rgba(0, 0, 0, 0.078);
    }
  }

  .copyright {
    color: gray;

    a {
      color: gray;
      text-decoration: none;
    }
  }
}

main {
  background: linear-gradient(90deg, #c0e6ff 0, #fff 40% 60%, #f0ccff 98%);

  .spc_img {
    background-image: url(../images/illustration/header-bg.webp);
  }

  h1 {
    font-size: 30px;
    font-weight: bold;
  }

  span {
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(90.19deg, #197BFF 23.41%, #7B1FA2 48.23%, #197BFF 65.79%, #7B1FA2 99.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  img {
    width: 100%;
  }

  .Demand {
    h6 {
      font-size: 15px;
    }

    p {
      font-size: 10px;
    }

    .text-center {
      border-right: 1px solid skyblue;
      border-left: 1px solid skyblue;
    }
  }
}


@media (min-width : 768px) {
  main {

    h1 {
      font-size: 50px;
    }

    span {
      font-size: 50px;
    }

    img {
      width: 90%;
    }
  }
}

@media (min-width : 992px) {
  main {
    h1 {
      font-size: 60px;
    }

    span {
      font-size: 60px;
    }

    img {
      width: auto;
    }
  }
}